/*Genric CSS Satrst here*/
.loo
{
	margin-top: -18px;
    margin-left: -50px;
}
.header
{
	margin-top: -24px;
	text-align: center;
}
.firstitle
{
	text-align: -webkit-right;
        margin-top: -20px;
        margin-right: 16px;
}
.descriptionshow
{
	border-radius: 11px;
    border: 1px solid #808080;
    width: 102.5%;
    font-family: myFirstFont;
    margin-left: -30px;
    margin-top: 10px;
}
.firstlabel
{
	 margin-top: 4px;
}
.titlebutton
{
	margin-top: 20px;
}
#firstrow {
    min-height: 78px;
    margin-top: 15px;
}
.secondrow,.pincodee
{
	 min-height: 80px;
}
.mobile
{
	    margin-top: -10px!important;
}
.topalign
{
	margin-top: 0px!important;
}
.thrid
{
	margin-top: 0px!important;
}
.thridsecond
{
	margin-top: -9px!important;
}
.thridsecond1
{
		margin-top: 1px!important;
}
.firstnamecd,.middlenamecd,.lastnamecd,.emailidcd
{
  margin-top: 6px;
  min-height: 91px;
}
#quotedprice,#expectedprice
{
  width: 90%;
}

.indiancurrency
{
  float: right;
     font-size: 13px;
    padding-top: 8px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: -3px;
    font-weight: 700;
}

.al
{
  margin-top: -3%;
}
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #009056;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
  .imgg
{
   margin-top: -13px;
    margin-left: -74px;
}
.btn
{
        color: #FFF!important;
    background-color: #00C851;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    position: relative;
    cursor: pointer;
    user-select: none;
    z-index: 1;
    font-size: .8rem;
    font-size: 15px;
    border-radius: 2px;
    border: 0;
    transition: .2s ease-out;
    white-space: normal!important;
}
.btn:hover
{
  outline: 0;
    background-color: #00C851;
      opacity: 0.5;
}
.footer
{
  margin-top: 8%;
}
.navbar2
{
         margin-left: 82%;
    margin-top: -68px;
    width: 15%;
    height: 40px;
   display: none;
    z-index: 10000;
    position: fixed;
}
.multiselect-container>li>a>label>input[type=checkbox]
{
      margin-left: -56%;
      overflow: hidden;
}
.multiselect-container
{
  width: 193%;
}
.popover.bottom
{
  top:49px!important;
  width: 408% !important;
}
.popover.left>.arrow
{
  display: none !important;
}
.popover.left
{
  width: 150%!important;
  margin-top: 192% !important;
    margin-left: -10% !important;
}
.labe
{
  margin-left: 18px;
      margin-bottom: -2px!important;
}
.multiselect
{
      margin-top: -7px;
        min-width: 191%;
    box-shadow: none;
    background: white;
    color: black!important;
    border-bottom: 1px solid #595959;
    height: 29px;
}

.multiselect:hover
{
background: white;
}
.multiselect:focus
{
background: white;
}
.btn .caret {
    margin-top: 8px;
    margin-left: 2px;
    float: right;
}
/*Query for galaxy*/
@media screen and (device-width: 360px) and (device-height: 640px) and (orientation: portrait)
{
  .navbar
  {
    position: fixed!important;
  }
  .navbar2
  {
    display: block;
  }
  #userimage
  {
    width:61%;
    margin-top: 52%;
  }
  .loo
  {
        margin-left: 19%;
  }
  .cd,#clientDetails
  {
    margin-left: 5%!important;
    width: 88%!important;
  }
  #phone
  {
    margin-top: 16px;
    margin-bottom: 25px;
  }
  .ref,.align
  {
    margin-top: 15px!important;
  }
  .header
  {
        margin-top: 16%;

  }
  .popover.left
  {
    
    width: 228% !important;
    left: -145%!important;
    top:-95%!important;
  }
}
@media screen and (device-width: 640px) and (device-height:360px)  and (orientation: landscape)
{
  .loo
  {
        margin-left: 32%;
  }
  .navbar
  {
    position: fixed!important;
  }
  .navbar2
  {
    display: block;
  }
  #userimage
  {
    width: 33%;
    margin-top: 38%;
    margin-left: 50px;
  }
  .popover.left
  {
    top:-103px!important;
    width: 118% !important;
    left: -25%!important;
  }
  .header
  {
    margin-top: 8%;
  }
  .cd
  {
    width: 94.5%!important;
    margin-left: 15px!important;
  }
  .descriptionshow
  {
    width: 94%;
    margin-left: 2.5%;
  }
  .sd
  {
        margin-top: 8px;
  }
  .descriptionshowsd,.descriptionshowsrf
  {
    width: 110%;
    margin-left: -12.5%!important;
    margin-top: -2px;
  }
 
}
/*Query for Nexus*/
@media (min-device-width: 412px) and (max-device-width: 420px) { 
   .navbar
  {
    position: fixed!important;
  }
  #phone
  {
    margin-top: 16px;
    margin-bottom: 25px;
  }
  .ref,.align
  {
    margin-top: 15px!important;
  }
   .navbar2
  {
    display: block;
  }
  .header
  {
        margin-top: 16%;

  }
  #userimage
  {
         width: 61%;
    margin-top: 29%;
  }
  .loo
  {
        margin-left: 19%;
  }
  .cd,#clientDetails
  {
    margin-left: 5%!important;
    width: 88%!important;
  }
}
@media screen and (device-width: 732px) and (device-height:412px)  and (orientation: landscape)
{
  .loo
  {
        margin-left: 32%;
  }
  .navbar
  {
    position: fixed!important;
  }
  .navbar2
  {
    display: block;
  }
  #userimage
  {
    width: 33%;
    margin-top: 38%;
    margin-left: 50px;
  }
  .popover.left
  {
    top:-103px!important;
    width: 118% !important;
    left: -25%!important;
  }
  .header
  {
    margin-top: 8%;
  }
  .cd
  {
    width: 94.5%!important;
    margin-left: 15px!important;
  }
  .descriptionshow
  {
    width: 94%;
    margin-left: 2.5%;
  }
  .sd
  {
        margin-top: 8px;
  }
  .descriptionshowsd,.descriptionshowsrf
  {
    width: 110%;
    margin-left: -12.5%!important;
    margin-top: -2px;
  }
}

/*iPhone 5:*/
@media screen and (device-aspect-ratio: 40/71) {
   .navbar
  {
    position: fixed!important;
  }
  #phone
  {
    margin-top: 16px;
    margin-bottom: 25px;
  }
  .ref,.align
  {
    margin-top: 15px!important;
  }
.navbar2
  {
    display: block;
  }
  #userimage
  {
          width: 61%;
    margin-top: 78%;
  }
  .loo
  {
        margin-left: 19%;
  }
  .cd,#clientDetails
  {
    margin-left: 5%!important;
    width: 88%!important;
  }
.header
  {
        margin-top: 16%;

  }
   .popover.left
  {
    
    width: 228% !important;
    left: -145%!important;
    top:-55%!important;
  }
}

@media (min-device-width: 568px) and (max-device-height: 320px) and (orientation: landscape){ 
   .loo
  {
        margin-left: 32%;
  }
  .navbar
  {
    position: fixed!important;
  }
  .navbar2
  {
    display: block;
  }
  #userimage
  {
    width: 33%;
    margin-top: 38%;
    margin-left: 50px;
  }
  .popover.left
  {
    top:-103px!important;
    width: 118% !important;
    left: -25%!important;
  }
  .header
  {
    margin-top: 8%;
  }
  .cd
  {
    width: 94.5%!important;
    margin-left: 15px!important;
  }
  .descriptionshow
  {
    width: 94%;
    margin-left: 2.5%;
  }
  .sd
  {
        margin-top: 8px;
  }
  .descriptionshowsd,.descriptionshowsrf
  {
    width: 110%;
    margin-left: -12.5%!important;
    margin-top: -2px;
  }
}
/*iphone6*/
@media screen and (device-aspect-ratio: 375/667) {
.navbar
  {
    position: fixed!important;
  }
  #phone
  {
    margin-top: 16px;
    margin-bottom: 25px;
  }
  .ref,.align
  {
    margin-top: 15px!important;
  }
.navbar2
  {
    display: block;
  }
  #userimage
  {
          width: 61%;
    margin-top: 39%;
  }
  .loo
  {
        margin-left: 19%;
  }
  .cd,#clientDetails
  {
    margin-left: 5%!important;
    width: 88%!important;
  }
  .header
  {
        margin-top: 16%;

  }
  }
  @media (min-device-width: 667px) and (max-device-height: 375px) and (orientation: landscape){ 
     .loo
  {
        margin-left: 32%;
  }
  .navbar
  {
    position: fixed!important;
  }
  .navbar2
  {
    display: block;
  }
  #userimage
  {
    width: 33%;
    margin-top: 38%;
    margin-left: 50px;
  }
  .popover.left
  {
    top:-103px!important;
    width: 118% !important;
    left: -25%!important;
  }
  .header
  {
    margin-top: 8%;
  }
  .cd
  {
    width: 94.5%!important;
    margin-left: 15px!important;
  }
  .descriptionshow
  {
    width: 94%;
    margin-left: 2.5%;
  }
  .sd
  {
        margin-top: 8px;
  }
  .descriptionshowsd,.descriptionshowsrf
  {
    width: 110%;
    margin-left: -12.5%!important;
    margin-top: -2px;
  }
  }  

/*Iphone 6+*/
@media (min-device-width:736px) and (max-device-height: 414px) and (orientation: landscape){
       .loo
  {
        margin-left: 32%;
  }
  .navbar
  {
    position: fixed!important;
  }
  .navbar2
  {
    display: block;
  }
  #userimage
  {
    width: 33%;
    margin-top: 38%;
    margin-left: 50px;
  }
  .popover.left
  {
    top:-103px!important;
    width: 118% !important;
    left: -25%!important;
  }
  .header
  {
    margin-top: 8%;
  }
  .cd
  {
    width: 94.5%!important;
    margin-left: 15px!important;
  }
  .descriptionshow
  {
    width: 94%;
    margin-left: 2.5%;
  }
  .sd
  {
        margin-top: 8px;
  }
  .descriptionshowsd,.descriptionshowsrf
  {
    width: 110%;
    margin-left: -12.5%!important;
    margin-top: -2px;
  }
}  
/*Iphone X*/
@media (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait){ 
  .navbar
  {
    position: fixed!important;
  }
  #phone
  {
    margin-top: 16px;
    margin-bottom: 25px;
  }
  .ref,.align
  {
    margin-top: 15px!important;
  }
.navbar2
  {
    display: block;
  }
  #userimage
  {
          width: 61%;
    margin-top: 39%;
  }
  .loo
  {
        margin-left: 19%;
  }
  .cd,#clientDetails
  {
    margin-left: 5%!important;
    width: 88%!important;
  }
  .header
  {
        margin-top: 16%;

  }
   .popover.left
  {
    
    width: 228% !important;
    left: -145%!important;
    top:-55%!important;
  }
}  
/*Nexus 7 (Tab)*/
@media (min-device-width: 600px) and (max-device-height: 960px) and (orientation: portrait){ 
  .navbar
  {
    position: fixed!important;
  }
  #phone
  {
    margin-top: 16px;
    margin-bottom: 25px;
  }
  .ref,.align
  {
    margin-top: 15px!important;
  }
.navbar2
  {
    display: block;
  }
  #userimage
  {
                 width: 37%;
    margin-top: 13%;
  }
  .loo
  {
            margin-left: 32%;
  }
  .cd,#clientDetails
  {
        margin-left: 2.6%!important;
    width: 94%!important;
  }
.header
  {
        margin-top: 12%;

  }
  .descriptionshowsd,.descriptionshowsrf
  {
        margin-top: 1px;
    margin-left: -59px!important;
    width: 109%!important;
  }
   
   .popover.left
  {
    
    width: 228% !important;
    left: -145%!important;
    top:-285%!important;
  }
  .footer
  {
    margin-top: 68%!important;
  }
}  
@media (min-device-width: 960px) and (max-device-height: 600px) and (orientation: landscape){ 
   .descriptionshowsd,.descriptionshowsrf
  {
           margin-top: 1px;
    margin-left: -124px!important;
    width: 114%!important;
  }
  .cd
  {
        margin-left: -98px!important;
    width: 126%!important;
  }
  .sd,.srf
  {
    margin-left: -36px!important;
    width: 126%!important;
  }
  #clientDetails
  {
        margin-left: -99px;
    width: 126%;
    }
    .navbar-right
    {
      margin-right: -101px;
    }
    .loo
    {
      margin-left: -94px;
    }
}  
/*Ipad*/
@media (min-device-width: 768px) and (max-device-height: 1024px) and (orientation: portrait){ 
     .loo
  {
        margin-left: 6%;
  }
  .navbar
  {
    position: fixed!important;
  }
  .navbar2
  {
    display: none;
  }
  #userimage
  {
    width: 33%;
    margin-top: 38%;
    margin-left: 50px;
  }
  .popover.left
  {
    top:-103px!important;
    width: 118% !important;
    left: -25%!important;
  }
  .header
  {
    margin-top: 8%;
  }
  .cd
  {
        width: 101.5%!important;
    margin-left: 8px!important;
  }
  .descriptionshow
  {
        width: 102%;
    margin-left: 0.5%;
  }
  .sd
  {
        margin-top: 8px;
  }
  .descriptionshowsd,.descriptionshowsrf
  {
        width: 116%;
    margin-left: -13.5%!important;
    margin-top: -2px;

  }
}
.head
{
          margin-top: -73px;
    height: 40px;
    z-index: 10000;
    position: absolute;
    width: 100%;
}
.popover.bottom
{
  min-width:30%;
  margin-left: 20%;
}
.popover.bottom>.arrow
{
  display: none !important;
}

 button[disabled], html input[disabled] {
    background: white;
    cursor: default;
  }

}



