

 
  

 @media only screen and (max-width: 1200px) {
    .imgg
    {
         

    }
    .navbar-header
    {
      padding-left: 11px;
    }
    
   #maintitle
    {
            padding-left: 0px;
    }
    #main
    {
              margin-left: 43px;
    }
    #main1
    {
          padding-left: 7%;
    margin-left: 8%;
    width: 92%;
    }
    #firstform
    {
      margin-left: -26px;
    }
    #ServiceDetails ,#ServiceDetails1 ,#AssignLeadTo
    {
      margin-left: -26px;
    }
    #BPM
    {
          margin-right: -12px;
    margin-top: -21px;
    }
   
  }
body::-webkit-scrollbar 
{
  display: none;
}

body
{
    overflow-y: scroll;
  overflow-x: hidden;
  font-family: Raleway,sans-serif;
}

.navbar-default {
    background-color: white;
    border-color: #e7e7e7;
}


      .imgg
      {
                margin-left: -19px;
            max-width: 167px;
    margin-top: 5px;
      }
      .navbar {
    position: relative;
    min-height: 64px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-default {
    border-bottom: 1px solid #e7e7e7;
    background-color: white;
}
@font-face {
    font-family: myFirstFont;
    src: url(/raleway/Raleway-Regular.ttf);
}
tr
{
  font-family: myFirstFont;
}
td
{
  font-family: myFirstFont;
}
input
{
  font-family: myFirstFont;
}
select
{
  font-family: myFirstFont;
}
li
{
   font-family: Raleway,sans-serif;
    font-size: 14px;
    color: #777;
        padding-top: 14px;
    padding-bottom: 14px;
    line-height: 22px;
}
.custom {
    color: #333;
    padding-left: 17px;
    padding-bottom: 9px;
    padding-top: 11px;
    width: 102%;
    background: #f2f2f2;
    font-family: Raleway,sans-serif;
    outline: none;
    margin-left: -28px;
    text-align: -webkit-left;
    border: 0px;
    font-size: 18px;
}
input
{
  border-right: 0px;  
    margin-top: -11px;
    border-top: 0px;
    border-left: 0px; 
    border-bottom:1px solid #484e51;
    padding-bottom: 0px; 
    width:100%;
    font-family: myFirstFont;
    outline: none;
}
input:focus
{
  border-bottom:1px solid #00cccc;
}
select:focus
{
  border-bottom:1px solid #00cccc;
}
label
{
      color: #777;
}
#title
{
      margin-top: -19px;
  text-align: center;
  color: #333;
}
#firstrow
{
      margin-top: 15px;
}
#secondrow
{
  margin-top: 36px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 3px;
    font-weight: 700;
}

select
{
  border-bottom-color:#484e51;
      border-top: 0px;
    width: 100%;
    border-left: 0px;
    border-right: 0px;
    background: white;
    outline: none;
}

.footer {
  
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  color: #636b6f;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
        margin-left: -40px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
