
.navbar-default {
    background-color: white;
    border-color: #e7e7e7;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 0px solid transparent;
}
.navbar-brand {
    font-size: 38px;

    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
font-family: myFirstFont;
}
.navbar-default .navbar-brand {
    color: #22B573;
}
.navbar-default .navbar-brand:hover {
    color: #22B573;
}
.navbar-toggle {
    z-index:3;
}



.navbar-inner {
  text-align:center;
}

@font-face {
    font-family: myFirstFont;
    src: url(Lato-Bold.ttf);
}
@font-face {
    font-family: myFirstFont1;
    src: url(Lato-Regular.ttf);
}
.navbar-default .navbar-nav>li>a {

color:#3399ff;
}

.navbar-default .navbar-nav>li>a:hover {

color:#3399ff;
}
#header
{
padding-left: 23px;
    width: 98%;

}
#navaber
{
      margin-top: 16px;
}


